.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    color: black;
}

.navbar_img {
    height: 35px;
    border-radius: 8px;
}

.createPost_imageUpload>input {
    display: none;
}

.post_social {
    display: flex;
    justify-content: space-between;
}